{{template "base" .}}

{{define "css"}}
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
{{end}}

{{define "content"}}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="/static/images/generals-quarters.png"
                 class="img-fluid rounded-lg shadow-sm d-block room-image" alt="General's Quarters">
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h1 class="text-center font-weight-light mb-4">General's Quarters</h1>
            <p class="text-muted text-center lead">
                A serene retreat on the Atlantic Ocean. Experience minimalist luxury with breathtaking views. 
                Designed for tranquility, our space offers the perfect balance of comfort and elegance.
            </p>
            <p class="text-muted text-center">
                Wake up to the sound of waves and enjoy thoughtfully curated amenities. 
                Every detail is designed to create an unforgettable coastal experience.
            </p>
        </div>
    </div>

    <div class="row justify-content-center mt-2 mb-5">
        <div class="col-md-8 text-center">
            <a id="check-availability-button" href="#!" class="btn btn-dark px-4 py-2 rounded-pill">Check Availability</a>
        </div>
    </div>
</div>

{{end}}


{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
<script src="/static/js/generals.js"></script>
{{end}}